body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: #f4f6f9;
    background-image: url("/static/unnamed.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* HEADER */
header {
    background: #004080;
    color: white;
    padding: 15px;
    text-align: center;
}

/* NAVBAR */
nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    padding: 6px 10px;
    border-radius: 4px;
}

nav a:hover {
    background-color: rgb(30, 1, 96);
    text-decoration: underline;
}

/* CONTENT AREA */
.content {
    padding: 20px;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* FORM */
form {
    background: white;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
}

/* OVERLAY BOX */
.overlay-box {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

/* TABLE PAGE */
h {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #2d6cdf;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

.center1{
  display: flex;
  justify-content: center;
  align-items: center;  
  
}