{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="overlay-box">
<h2>About Us</h2>
<p>The College of Applied Science, Mavelikkara was established in 1994. The institution is affiliated to the University of Kerala and is managed by the Institute of Human Resources Development, Thiruvananthapuram, a Government of Kerala undertaking popularly known as the IHRD in the Kerala higher education sector.

About IHRD

Institute of Human Resources Development (IHRD) is an autonomous educational institution established by the Government of Kerala in 1987. The institute is registered under The Travancore – Cochin Literary, Scientific and Charitable societies registrations Act 12 of 1955. The management of the institute is vested with a Governing Body composed of with the Hon’ble Minister of Higher Education, Government of Kerala, as the Chairman and Chief Secretary to Government of Kerala as the Vice-Chairman.

Institute of Human Resources Development is dedicated to the scientific advancement, technological progress and economic growth of the country through human resources development. Based on the principle, “Think Globally and Act Locally” it endeavours to bring about the welfare of the nation. It endeavours to provide education and training of consistently high standard through innovative and versatile programmes suitable for the current and emerging needs of the community.</p>
</div>
{% endblock %}